APScheduler==3.1.0
bokeh==0.11.1
dill==0.2.4
Django==1.9.2
ebaysdk==2.1.3
Flask==0.10.1
Flask-Cors==2.1.2
gunicorn==19.4.5
matplotlib==1.5.1
numpy==1.9.2
scipy==0.15.1
pandas==0.18.0
scikit-learn==0.17.1
-e git+git://github.com/dhudsmith/EbayAnalytics.git#egg=/blob/master/ExtractEbayData.py#subdirectory=/blob/master/ExtractEbayData.py
-e git+git://github.com/dhudsmith/EbayAnalytics.git#egg=/blob/master/DataAnalysis/preproc.py#subdirectory=/blob/master/DataAnalysis/preproc.py
-e git+git://github.com/dhudsmith/EbayAnalytics.git#egg=/blob/master/DataAnalysis/RandomForest/preproc_rf.py#subdirectory=/blob/master/DataAnalysis/RandomForest/preproc_rf.py