<!DOCTYPE html>
<html>
<head>
    <title>Data exploration</title>
   <link rel='stylesheet' type='text/css' href='/static/style.css'>

</head>
<body>

    <h1>Product price distributions</h1>
    <div class="div1">
        Here we show the distribution of prices for the top selling products, broken down by whether or not shipping
        is free. Some of the distributions appear to be bi-modal.
    </div>

    <img src='static/data_exploration.png'
         width="800" height="600">

</body>
</html>